@font-face {

    font-family: 'SpaceMono-Regular';

    src: url('./fonts/SpaceMono-Regular.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'SpaceMono-Bold';

    src: url('./fonts/SpaceMono-Bold.ttf') format('truetype');

    font-weight: bold;

    font-style: bold;

}

:root {
    --base: #000;
    --accent: #fff;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--base);
    overflow-x: hidden;
    overflow-y: hidden;
    color: var(--accent);
    font-family: SpaceMono-Regular;
}

canvas {
    display: block;
}

h1 {
    font-family: SpaceMono-Bold;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: SpaceMono-Bold;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    text-align: center;
}

/* GENERAL LAYOUT*/

.cc-container-main {
    width: calc(100VW - 40px);
    height: calc(100VH - 40px);
    display: flex;
    padding: 20px;
}

.cc-container-editor {
    z-index: 1;
    width: 32%;
    height: 100%;
}

.cc-container-canvas {
    z-index: 0;
    border: 1px solid var(--accent);
    margin-left: 10px;
    width: 68%;
    height: 100%;
}

#canvasForHTML {
    height: 100%;
}

/* EDITOR LAYOUT*/

.cc-editor-menu {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}

.cc-editor-menu-item {
    width: 32%;
    height: 100%;
    border: 1px solid var(--accent);
    text-align: center;
    display: flex;
    justify-content: center;
}

.active {
    color: var(--base);
    background-color: var(--accent);
}

.cc-editor-panel {
    z-index: 1;
    border: 1px solid var(--accent);
    height: calc(100VH - 40px - 120px - 20px - 2px);
    margin: 10px 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.cc-editor-head {
    height: 30px;
    line-height: 30px;
    background-color: var(--accent);
    color: var(--base);
    padding: 0 20px;
}

.cc-editor-items {
    margin: 10px 0;
}

.cc-editor-item {
    display: flex;
    position: relative;
    z-index: 3;
    justify-content: space-between;
    padding: 0 20px;
    margin: 15px 0;
}

.cc-editor-items label {
    width: 50%;
}

.cc-editor-infotext-p p {
    text-align: left;
}

#infotext-evolution,
#infotext-noise {
    display: none;
}

/* TEXT INPUT */

.cc-editor-text textarea {
    background: var(--base);
    color: var(--accent);
    border: 1px dashed var(--accent);
    font-family: SpaceMono-Regular;
    font-size: 15px;
    width: 100%;
    height: 100px;
    padding: 10px;
}

.cc-editor-text textarea::placeholder {
    color: var(--accent);
}

.cc-editor-text textarea:focus {
    background: var(--base);
    border: 1px dashed var(--accent);
    outline: none;
}

/* SLIDERS INPUT */

.cc-editor-slider-container {
    width: 50%;
    margin-top: -12px;
}

.cc-editor-slider-container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    padding: 0 10px;
    margin: 0, 10px;
    margin-bottom: -24px;
    padding-inline-start: 0;
}

.cc-editor-slider-container li {
    background-color: var(--accent);
    width: 1px;
    height: 15px;
    padding: none;
    margin: none;
}

.cc-editor-slider-container input {
    width: 100%;
}

.cc-editor-slider {
    -webkit-appearance: none;
    height: 1px;
    background: var(--accent);
    outline: none;
    position: relative;
    margin-left: 0px;
}

.cc-editor-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 25px;
    background: var(--accent);
    cursor: pointer;
}

/* SWITCH INPUT */

/* Slideshow container */
.cc-editor-slide-container {
    position: relative;
    width: 50%;
}

/* Slides */
.cc-editor-item-slide {
    display: none;
    padding: 0 10px;
    text-align: center;
}

.cc-editor-item-slide-1,
.cc-editor-item-slide-2,
.cc-editor-item-slide-3,
.cc-editor-item-slide-4,
.cc-editor-item-slide-5 {
    display: none;
    padding: 0 10px;
    text-align: center;
}


/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -19px;
    padding: 6px;
    color: var(--accent);
    font-weight: bold;
    font-size: 15px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}



/* COLOR INPUT */

.cc-editor-colortab-2 {
    display: block;
    width: 50%;

}

.cc-editor-colortab {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.cc-editor-colorbox {
    width: 13%;
    padding-top: 13%;
    border: 1px solid var(--accent);
}


/* BUTTONS BOTTOM */

.cc-editor-buttons {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}

.cc-editor-button {
    width: 32%;
    height: 100%;
    border: 1px solid var(--accent);
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Tooltip container */
.tooltip-container {
    display: none;
    position: absolute;
    z-index: 2;
    width: 0px;
    display: inline-block;
    padding: 0 0px;
}

.tooltip {
    display: grid;
    width: 100%;
    background-color: var(--base);
    border: 1px solid var(--accent);
}

.tooltip .cc-editor-head {
    display: block;
    position: relative;
    pointer-events: none;
    width: 100%;
    z-index: 2;
    padding: 0
}

/* Tooltip text */
.tooltip .tooltiptext {
    display: flex;
    width: 100%;
    color: var(--accent);
    text-align: center;
    pointer-events: none;

    /* Position the tooltip text */
    position: relative;
    z-index: 2;
}

.tooltip-container .tooltip::after {
    content: "";
    position: absolute;
    pointer-events: none;
    top: -2px;
    left: -36px;
    border-width: 18px;
    border-style: solid;
    border-color: transparent var(--accent) transparent transparent;
}

/* Tooltip arrow */
/*.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--accent) transparent transparent transparent;
}*/

/* Show the tooltip text when you mouse over the tooltip container */
/*.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}*/